.popupBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.popupContainer {
  width: 300px;
  height: 160px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.popupContainer.popupTitle {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.close-btn {
  margin-top: 8px;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  background-color: cornflowerblue;
  color: whitesmoke;
}

.redfront {
  color: crimson;
}
